<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Mock-Err</title>

</head>


<body>



    <a>Use Postman to push below JSON data @RequestBody </a>


<h3 >

{<br/>
    "billingEventDFF": [<br/>
        {<br/>
            "id": 1,<br/>
            "value": 10872<br/>
        }<br/>
    ],<br/>
    "sourceReference": "000000001",<br/>
    "sourceName": "BS12CUS01",<br/>
    "eventTypeName": "EvN097_76",<br/>
    "contractNumber": "8898688889",<br/>
    "contractLineNumber": "(84)(3737389)",<br/>
    "eventDescription": "767393937",<br/>
    "completionDate": "2019-09-13",<br/>
    "billTransAmount": 17837,<br/>
    "billTrnsCurrency": "JPY"<br/>
}<br/>

</h3>

GET <br/>
/invoices<br/>
POST  PUT  DEL <br/>
/invoices/sourceReference/000000002 <br/>

</body>

</html>